* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family);

}

:root {
    --font-family: Montserrat;
    --color-titulo: #FFFFFF;
    --color-footer: #B6B6B6CC;
}



body {

    background: linear-gradient(180deg, #8B1FF8 0%, #041832 48.44%, #01080E 100%);
    background-repeat: no-repeat;


}

.content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: "header"
        "main"
        "footer";
}

.header {
    grid-area: header;
    display: flex;
    justify-content: center;
    padding: 2rem 0 4rem 0;
}

.header img {
    width: 156px;
    max-width: 100%;
}

.main {
    grid-area: main;
    display: flex;
    justify-content: center;

}

.contenido__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
}

.contenido__main p {
    color: var(--color-titulo);
    font-size: clamp(2rem, 4vw, 57px);
}

.contenido__main p span {
    font-weight: 700;
}

.contenido__main img {
    width: 70vw;
    max-width: 100%;
}

footer {
    grid-area: footer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 0;
    color: var(--color-footer);

}



@media (max-width:768px) {

    .contenido__main{
        flex-direction: column;
        gap: 1rem;
    }
}

@media (max-width: 360px) {}